<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="img.css">
    <title>Join Meet</title>
</head>

<body>
    <i class="fab fa-google"></i>
    
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1><i class="fa fa-camera-retro"></i><%=title%></h1>

                <p class="lead">Please select one of the meets following 
                </p>
            </div>
        </div>
        <div class="row">
        <% user.forEach(function(user){ %>
                <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img
                            src="https://images.unsplash.com/photo-1576073459656-9b03ee75cc92?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjh8fG1lZXRpbmclMjByb29tfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                        <strong>Session ID:<%=user.session_id%></p>
                        <p>Session Name:<%=user.description%></p>
                        <p>Room Name:<%=user.room_name%></p>
                        <p>Max Users per Session:<%=user.max_users%></p>
                        <button class="btn btn-primary">Join Meet</button>
                    </div>
                </div>
        <%})%>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</body>

</html>